 /* width */

 ::-webkit-scrollbar {
   width: 10px;
 }

 /* Track */

 ::-webkit-scrollbar-track {
   background: #f1f1f1;
 }

 /* Handle */

 ::-webkit-scrollbar-thumb {
   background: rgba(199, 120, 0, 1);
 }

 /* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
   background: rgba(255, 167, 38, 1);
 }

 html {
   scroll-behavior: smooth;
 }